/*Esto es un normalizador para que todos los valores por defecto del navegador sea 0*/

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
    outline: none;        
}

body{
    background: yellow;
    overflow-x: hidden;
}

.form{
    border:  5px solid black;
    border-radius:5px;
    position: absolute;
    top:30%;
    left:50%;
    width: 50%;
    margin-left:-350px;
    height: 80%;
    margin-top:-150px;
    padding:20px;
}

#logo{
    height: 35%;
    width: 30%;
    transform:  translateX(215px);
}

.form-title{
    text-align:  center;
    padding-bottom:10px;
    color:white;
}

.form-input{
    transform:  translateX(30px);
    display: block;
    border-radius: 6px;
    width: 80%;
    height: 30px;
    margin:5px;
    border:  2px solid white;
    padding: 10px;
    font-size: 1.1em;
    background:#e6f0ff;
}

.form-submit{
    transform:  translateX(10px);
    background:white;
    color:black;
    font-weight: bold;
    border-radius: 6px;
    width: 90%;    
    height: 100%;
    margin:5px;
    padding: 10px;
    font-size: 1.5em;
    border:  2px solid #ffffff;
}

.form-submit:hover{
    transform:  translateX(10px);
    background:yellow;
    color:white;
    font-weight: bold;
    border-radius: 6px;
    width: 90%;
    height: 100%;
    cursor: pointer;   
    transition: 0.3s;
    margin:5px;
    padding: 10px;
    font-size: 1.5em;
    border:  2px solid #ffffff;
}

.header{
    background: rgba(255, 255, 255,0.9);
    height: 120px;
    width: 100%;
}

.header-logo{
    width: 100px;
    height: 100px;
    float: left;
    padding: 10px;
}

.header-text{
    display: block;
    font-weight:  bold;
    font-size: 1em;
    color:black;
    padding: 10px;
    transform: translate(30px,5px);
}
.MainMenu{
    padding:25px;
    padding-top:70px;
    display: inline-flex;
}
.MainMenu img{
    width:200;
    height: 200px;
    padding:10px;
    border-radius: 150px;
}

.MainMenu h4{
    text-align:center;
    text-decoration:  none;
    color:white;
}
.content{
    display: inline-flex;
}

.table{
    background: rgba(255, 255, 255,0.9);
    width: 1320px;
    height: 120%;
    margin:20px;
    border-radius: 20px;
    padding-bottom:40px;
}

.SecondMenu{
    border-radius: 20px;
    padding: 30px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    width: 130px;
    display: inline-flex;
    transform:translate(500px,-110px);
}

.menu2-button{
    border:  1px solid #000000;
    border-radius: 3px;
    padding:10px;
    margin:5px;
    width: 130px;
    background: yellow;
    color:black;
    font-weight: bold;
}

.menu2-button:hover{
    border:  1px solid #000000;
    border-radius: 3px;
    padding:10px;
    margin:5px;
    width: 130px;
    background: black;
    cursor: pointer;
    transition: 0.9s;
    color:white;
    font-weight: bold;
}

.SecondMenu a{
    color:gray;
    font-weight: bold;
    font-size: 1.05em;
}

.table table tr th{
    border:  2px solid #000000;
    border-radius: 10px;
    width: auto;
    font-weight:  bold;
    margin:20px;
    padding: 5px;
    transform: translateY(5px);
    background: #e6f0ff;    
}

.table table tr td{
    border:  1px solid #000000;
    border-radius: 5px;
    width: auto;
    transform: translateY(5px);
    text-align: center;
}

.search-form{
    margin-left:150px;
    border:  1px solid #000000;
    border-radius:10px;
    background: #e6f0ff;
    width: 600px;
    height: 50px;

}

.list{
    width: 120px;
    height: 30px;
    padding:5px;
    margin:10px;
    background: white;
    border-radius: 5px;
    font-weight: bold;
    font-size:1em;
}

.list option{
    padding:10px;
    margin:10px;
    font-size:1em;
    font-weight: bold;
}

#search-text{
    width: 300px;
    height: 30px;
    padding-left:10px;
    margin:10px;
    background: white;
    border-radius: 5px;
    font-size:0.7em;
}

#newseller-form{
    margin-left:110px;
    border:  1px solid #000000;
    border-radius:10px;
    background: #e6f0ff;
    margin-top:30px;
    width: 700px;
    height: 100%;
    display:  inline-block;
}

#newseller-form strong{
    font-size:1.3em;
    padding:10px;
    margin-left:20px;
}

.newseller-field{
    padding:10px;
    border:  1px solid #000000;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

#popup-pdv{
    z-index: 5;
    background: white;
    width: 500px;
    height: 300px;
    border:  1px solid black;
    border-radius: 10px;
    transform: translate(120px,-280px);
}

#popup-zone{
    z-index: 5;
    background: white;
    width: 500px;
    height: 300px;
    border:  1px solid black;
    border-radius: 10px;
    transform: translate(120px,-280px);
}

.action-button{
    margin-left:230px;
    padding:10px;
    color:black; 
    background:yellow;
    border-radius:10px;
    cursor:pointer;
    font-weight: bold;
}

.welcome-text{
    padding:20px;
    color:black;
    font-weight: bold;
}

.back-text{
    color:black;
    float:right;
    margin-top:15px;
    padding:10px;
    font-weight: bold;
    border:  1px solid black;
    border-radius: 20px;
}

.back-text:hover{
    color:white;
    float:right;
    margin-top:15px;
    padding:10px;
    font-weight: bold;
    border:  1px solid black;
    border-radius: 20px;
    background: #000000;
}

.alert{
    background:red;
    color:white;
}

.back-text2{
    color:black;
    margin-top:15px;
    padding:10px;
    font-weight: bold;
    border:  1px solid black;
    border-radius: 20px;
    width: 200px;
}

.back-text2:hover{
    color:white;
    margin-top:15px;
    padding:10px;
    font-weight: bold;
    border:  1px solid black;
    border-radius: 20px;
    background: #000000;
    width: 200px;
}

